<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
    <link rel="stylesheet" href="style.css">
    <title>Frontend Mentor | Planets fact site</title>
</head>
<body>
<header>
    <nav>
        <h1>THE PLANETS</h1>
        <ul>
            <% for (const planet of data) { %>
                <li><a href="/planet/<%= planet.name %>"><%=planet.name %></a></li>
           <% } %>
        </ul>
    </nav>
</header>