<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">

    <link href="https://fonts.cdnfonts.com/css/spartan" rel="stylesheet">
    <script src="/index.js" defer></script>
                

    <title>Frontend Mentor | Planets fact site</title>
</head>
<body>
<header>
    <nav>
        <h1><a href="#">THE PLANETS</a></h1>
        <div id="burger-menu">
            <span></span>
          </div>
          <div id="menu">
        <ul>
            <% for (const planet of data) { %>
                <li class="<%= planet.name.toLowerCase() %>">
                    <div class="icon-<%= planet.name.toLowerCase() %>"></div>
                  <a href="/planet/<%= planet.name %>">
                    <%= planet.name %>
                  </a>
                  <img class="chevron" src="/assets/icon-chevron.svg" alt="chevron">
                </li>
              <% } %>
        </ul>
        </div>
    
    </nav>

    
</header>