

<header>
    <nav>
        <h1><a href="#">THE PLANETS</a></h1>
        <div id="burger-menu">
            <span></span>
          </div>
          <div id="menu">
        <ul>
            <% for (const planet of data) { %>
                <li class="<%= planet.name.toLowerCase() %>">
                    <div class="icon-<%= planet.name.toLowerCase() %>"></div>
                  <a href="/planet/<%= planet.name %>">
                    <%= planet.name %>
                  </a>
                  <div class="chevron-container">
                  <img class="chevron" src="/assets/icon-chevron.svg" alt="chevron">
                  </div>
                </li>
              <% } %>
        </ul>
        </div>
    
    </nav>

    
</header>