.jupiter {
    border-top: var(--heavy-red-color) solid 3px;
}

.jupiter > a {
    color: white;
}

button:hover{
    background-color:var(--light-grey-color);
}

.bg {
    background-color: var(--heavy-red-color);
}