.venus {
    border-top: var(--yellow-color) solid 3px;
}
.venus > a {
    color: white;
}

button:hover{
    background-color:var(--light-grey-color);
}


.bg {
    background-color: var(--yellow-color);
}