<%- include('../partials/header'); -%>

    <body>
        <main>

            <div class="container-img">
            <img src="/assets/planet-mercury.svg" alt="">
            </div>

            <div class="container-infos">
                <h2>Mercury</h2>

                <p>
                    Mercury is the smallest planet in the Solar System and the closest
                    to the Sun. Its orbit around the Sun takes 87.97 Earth days, the
                    shortest of all the Sun's planets. Mercury is one of four terrestrial
                    planets in the Solar System, and is a rocky body like Earth.</p>

                <span>
                    Source : Wikipedia <!-- URL: https://en.wikipedia.org/wiki/Mercury_(planet) -->
                </span>

                <div class=button-infos>
                    <span class="button"> 01 Overview</span>
                    <span class="button">02 Internal Structure</span>
                    <span class="button">03 Surface Geology</span>
                </div>
            </div>


            <dl>
                <div>
                    <dt>Rotation time</dt>
                    <dd>58.6 days</dd>
                </div>
                <div>
                    <dt>Revolution time</dt>
                    <dd>87.97 days</dd>
                </div>
                <div>
                    <dt>Radius</dt>
                    <dd>2,439.7 km</dd>
                </div>
                <div>
                    <dt>Average Temp.</dt>
                    <dd>430°C</dd>
                </div>
            </dl>


        </main>
    </body>

    </html>
    <%- include('../partials/footer'); -%>